nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9BBAAA;
  padding: 0.45rem 1.5rem;
  color: #fff;
  font-family: Arial, sans-serif;
  position: relative;
}

#disparar_menu {
  background: none;
  border: none;
  cursor: pointer;
}

#disparar_menu img {
  width: 24px;
  height: 24px;
}



nav>div:last-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav>div:last-child img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
}

#btn-login {
  background-color: transparent;
  border: 2px solid #ffffffcc; /* borda branca semitransparente */
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

#btn-login:hover {
  background-color: #ffffff22; /* leve destaque ao passar o mouse */
  border-color: #ffffff;
  color: #ffffff;
}
