nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9BBAAA;
  padding: 0.45rem 1.5rem;
  color: #fff;
  font-family: Arial, sans-serif;
  position: relative;
}

#disparar_menu {
  background: none;
  border: none;
  cursor: pointer;
}

#disparar_menu img {
  width: 24px;
  height: 24px;
}



nav>div:last-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav>div:last-child img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: #4a90e2;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #1270db;
}

nav a.active {
  background-color: #247bdf;
}